<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetQCM</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Centrale</display-name>
    <servlet-name>Centrale</servlet-name>
    <servlet-class>fr.eni.ecole.projetqcm.servlet.Centrale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Centrale</servlet-name>
    <url-pattern>/Centrale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>fr.eni.ecole.projetqcm.servlet.Connexion</servlet-class>
    <init-param>
      <param-name>connectionString</param-name>
      <param-value>jdbc:sqlserver://localhost:1433;databaseName=qcm;user=sa;password=Pa$$w0rd;</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
</web-app>